body{
  padding-top: 44px;
}

/* header */
.header  .active {
  border-bottom: 1.5px solid rgb(0, 255, 0);
}

/* all categories */
.all-categories::-webkit-scrollbar{
  display: none;
}

/* corousel */

.carsl-img img {
  aspect-ratio: 5/2;
}
